{
  "presets": ["env", "stage-0"], // 转换预设/语法
  "plugins": [
    ["component", [{
      "libraryName": "mint-ui",
      "style": true
    }]],
    "transform-runtime",
    "transform-remove-strict-mode"
  ] // 转换插件
}